# Project exclude paths
/.gradle/
/build/
/openTCS-NeNa-CommAdapter-ROS2/build/
/openTCS-NeNa-CommAdapter-ROS2/build/classes/java/guiceConfig/
/openTCS-NeNa-CommAdapter-ROS2/build/classes/java/main/
/openTCS-NeNa-CommAdapter-ROS2/build/classes/java/test/
/openTCS-NeNa-Common/build/
/openTCS-NeNa-Common/build/classes/java/main/
/openTCS-NeNa-Common/build/classes/java/test/
/openTCS-NeNa-Documentation/build/
/openTCS-NeNa-Kernel/build/
/openTCS-NeNa-KernelControlCenter/build/
/openTCS-NeNa-PlantOverview/build/